

 /*head start */
        
 #header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background: #1B9AAA;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	z-index: 999;
	position: sticky;
	top: 0px;
	left: 0px;
}

#navbar {
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar li {
	list-style: none;
	padding: 0 20px;
	position: relative;
}

#navbar li a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
	color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
	content: "";
	width: 30%;
	height: 2px;
	background: #088178;
	position: absolute;
	bottom: -4px;
	left: 20px;
}

#bg-hero {
	background-image: url(../images/slider-bg.jpg);
	height: 75vh;
	width: 100%;
	background-position: top 25 right 0;
	padding: 0 80px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

#bg-hero h4 {
	padding-bottom: 15px;
}

#bg-hero h1 {
	color: #088178;
}

#bg-hero button {
	background-color: #088178;
	color: black;
	border: 2px solid #088178;
	border-radius: 25px;
	cursor: pointer;
	font-size: 15px;
	padding: 10px;
}

#mobile {
	display: none;
	align-items: center;
}

#close {
	display: none;
}


.panier {
	font-family: "Gill Sans", sans-serif;
	display: flex;
	padding-top: 40px;
	justify-content: center;
	min-height: 100vh;
	
  
  }
  
.bouton-panier{
	display: flex;
	justify-content: center;
	padding-top: 100px;
	padding-left: 30px;
}

  .link1 {
	text-decoration:none;
	font-family: arial;
	color: #FFFFFF !important;
	font-size: 15px;
	padding: 10px 28px;
	border-radius: 5px;
	background: #56AAC9;
  }
  
  .link1:hover {
	color: #FFFFFF !important;
	background: #468CCF;
	background: linear-gradient(to top, #468CCF, #63B8EE);
  }
  
  
  .product-img {
	width: 150px;
	height: 150px;
	padding: 8px 0;
	border-radius: 15px;
  
  
  }
  
  .delete-img {
	width: 40px;
  }
  
  .panier section {
	width: 70%;
	background-color: #fff;
	padding: 10px;
	border-radius: 6px;
  }
  
  table {
	border-collapse: collapse;
	width: 100%;
	font-size: 17px;
	
  }
  
th {
	padding: 15px 0;
	padding-left: 55px;
	font-weight: 400;
	
  }
  
td {
	border-top: 1px solid black;
	text-align: center;
  
  }
  
tr {
	border-bottom: 1px solid rgb(0, 0, 0);
  }
  
.total {
	display: flex;
	justify-content: end;
	margin-top: 15px;
	border: 0;
	font-weight: 500;
	color: rgb(20, 111, 163);
	padding: 15px;
	font-size: 25px;
  }

/************ bouton payez***********/
  .bouton-achat{
	display: flex;
	justify-content: center;
	padding-left: 30px;
	padding-bottom: 150px;
}

  .link2 {
	text-decoration:none;
	font-family: arial;
	color: #FFFFFF !important;
	font-size: 18px;
	padding: 10px 28px;
	border-radius: 5px;
	background: linear-gradient(to top, #658a79, #55b47a);
  }
  
  .link2:hover {
	color: #FFFFFF !important;
	background: #468CCF;
	background: linear-gradient(to top, #5ab68b, #30ac60);
  }
  
 
  /************ Pour la page de paiement *****/


.container_P {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body_P {
   background-color: #c7c7c7;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 30px 10px;
	font-family: Arial, Helvetica, sans-serif;
   
}

.card {
	max-width: 500px;
	margin: auto;
	color: black;
	border-radius: 20 px;
}

.container_P .h8 {
	font-size: 30px;
	font-weight: 800;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.btn.btn-primary {
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
	border: none;
	transition: 0.5s;
	background-size: 200% auto;
	font-size: 20px;

}


.btn.btn.btn-primary:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}



.btn.btn-primary:hover .fas.fa-arrow-right {
	transform: translate(15px);
	transition: transform 0.2s ease-in;
}

.form-control {
	color: rgb(73, 73, 73);
	background-color: #d0ddec;
	border: 2px solid transparent;
	height: 60px;
	padding-left: 20px;
	vertical-align: middle;
}

.form-control:focus {
	color: rgb(77, 75, 75);
	background-color: #d0ddec;
	border: 2px solid #677acfa4;
	box-shadow: none;
}

.text {
   font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 600;
}

::placeholder {
	font-size: 14px;
	font-weight: 600;
}